!!! 5
%HTML
  %head
    %title
      = current_page.data.title
    %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}
  %body
    .container-fluid
      .col-md-1
      .col-md-8
        %header
          %h1
            Nucleotides
            %p
              %small
                continuous genome assembler evaluation
        = yield
      .col-md-1
