# Ignore environment data
.env

# Ignore the build directory
/build

# Ignore Sass' cache
/.sass-cache

# Ignore .DS_store file
.DS_Store

# Ignore data directory
/data
source/images

# Bundler files
/.bundle
Gemfile.lock
vendor

# Don't put passwords in VCS
.aws_credentials

# Docker
.image
