.jumbotron {
    background-color: #fff;
}
.jumboitem {
    padding-top: 30px;
}
.front-item {
    padding-bottom: 50px;
}
.footer {
    padding-top: 100px;
}

img.logo_1 {
    width: 200px;
    height: 200px;
    background: url(/images/nucleotides.png) 0px 0px;
    background-size : 600%;
}

img.logo_2 {
    width: 150px;
    height: 150px;
    background: url(/images/nucleotides.png) -600px 0px;
    background-size : 600%;
}

img.comparison {
    width: 175px;
    height: 175px;
    background: url(/images/nucleotides.png) -175.5px 0px;
    background-size : 600%;
}

img.assemble {
    width: 175px;
    height: 175px;
    background: url(/images/nucleotides.png) -350px 0px;
    background-size : 600%;
}

img.build {
    width: 175px;
    height: 175px;
    background: url(/images/nucleotides.png) -525px 0px;
    background-size : 600%;
}

.assembler-item-good {
    color: green;
}

.assembler-item-bad {
    color: red;
}

.assembler {
    padding-bottom: 50px;
}


.vote-award {
    text-align: center;
    .title {
        font-size: 200%;
        padding-top: 20px;
    }
    .image {
        font-size: 250%;
    }
    .proc {
        font-size: 150%;
    }
}

