!!! 5
%HTML
  = partial "header"
  %body
    .container-fluid
      .row
        %nav{:class => "navbar navbar-default", :role => "navigation"}
          .col-md-1
          .col-md-8
            = partial "navigation"
      .row
        .col-md-1
        .col-md-8
          = partial "title"
      .row
        .col-md-1
        .col-md-6
          = yield
