!!! 5
%HTML
  = partial "header"
  %body
    = partial "navigation"
    .container-fluid
      .col-md-1
      .col-md-8
        = partial "title"
    .container-fluid
      .col-md-1
      .col-md-6
        = yield
