!!! 5
%HTML
  = partial "header"
  %body
    %nav{:class => "navbar navbar-default", :role => "navigation"}
      .container-fluid
        .div{:class => "col-md-11 col-md-offset-1"}
          = partial "navigation"
    .container-fluid
      .row
        .div{:class => "col-sm-6 col-sm-offset-3"}
          .jumbotron
            .text-center
              .row
                %h1
                  nucleotid.es
              .row
                .jumboitem
                  %img{src: "/images/logo.png", width: 175}
              .row
                .jumboitem
                  %h2
                    an assembler catalog
                  %hr
                  %p
                    continuous, objective and reproducible evalution of genome assemblers using docker containers
      .row
        .div{:class => "col-sm-4 col-sm-offset-2"}
          image here
        .col-sm-4
          Description here
