!!! 5
%HTML
  = partial "header"
  %body
    %nav{:class => "navbar navbar-default", :role => "navigation"}
      .container-fluid
        .div{:class => "col-md-11 col-md-offset-1"}
          = partial "navigation"
    .container-fluid
      .row
        .div{:class => "col-sm-6 col-sm-offset-3"}
          .jumbotron
            .text-center
              .row
                %h1
                  nucleotid.es
              .row
                .jumboitem
                  %img{src: "/images/logo.png", width: 175}
              .row
                .jumboitem
                  %h2
                    an assembler catalog
                  %hr
                  %p
                    continuous, objective and reproducible evalution of genome assemblers using docker containers
      .front-item
        .row
          .div{:class => "col-sm-4 col-sm-offset-2"}
            image here
          .col-sm-4
            %h4
              objective assessment
            %hr
            %p
              Compare how different genome assemblers perform against a variety of test sequence data. Multiple different benchmarks shows the average performance of each assembler.
            %p
              Measured metrics include the size or accuracy of the assembly. Benchmarks include different %GC content and genome sizes. Choose the assembler that best suits your own requirements and data.
            .text-center
              %a{role: "button", class: "btn button-primary", href: "/benchmarks"}
                View the benchmarks
    .footer
