!!! 5
%HTML
  = partial "header"
  %body
    = partial "navigation"
    .container-fluid
      .col-md-1
      .col-md-8
        = partial "title"
    .container-fluid
      .col-md-1
        %div{'data-spy' => 'affix'}
          %button{'type'         => "button",
                  'class'        => "btn btn-lg btn-primary key",
                  'data-toggle'  => "popover",
                  'data-content' => partial('key') }
            %span{:class => "glyphicon glyphicon-question-sign"}
      .col-md-10
        = partial "benchmarks"
