!!! 5
%HTML
  = partial "header"
  %body
    .container-fluid
      .row
        %nav{:class => "navbar navbar-default", :role => "navigation"}
          .col-md-1
          .col-md-8
            = partial "navigation"
      .row
        .col-md-1
          %div{'data-spy' => 'affix'}
            %button{'type'         => "button",
                    'class'        => "btn btn-lg btn-primary key",
                    'data-toggle'  => "popover",
                    'data-content' => partial('key') }
              %span{:class => "glyphicon glyphicon-question-sign"}
        .col-md-10
          = partial "benchmarks"
