- data.images.each do |image|
  %div{class: "assembler", id: assembler_id(image[:image][:dockerhub])}
    %h3
      = image[:image][:dockerhub]
    %p
      = image[:description]
    %table.table
      %tr
        %td
          %span{class: "glyphicon glyphicon-cog" }
        %td
          %a{href: dockerhub_url(image)}
            Docker Image
      - if image[:pmid]
        %tr
          %td
            %span{class: "glyphicon glyphicon-file" }
          %td
            %a{href: pubmed_url(image)}
              Pubmed Entry
      - assembler_values(image).each do |(avail, url, text)|
        %tr
          %td
            - if avail
              %span{class: "glyphicon glyphicon-ok assembler-item-good" }
            - else
              %span{class: "glyphicon glyphicon-remove assembler-item-bad" }
          %td
            - if avail
              %a{href: url.to_s }
                = text
            - else
              = text
