- data.coefficients.each do |datum|
  %table{:class => ""}
    %tbody
      %tr
        %td
          = datum[:image]
        - data.coefficient_headers.each do |header|
          %td
            = datum[header]
