%head
  %title
    = title

  // Metadata
  %meta{charset: "UTF-8"}
  %meta{"http-equiv"=> "X-UA-Compatible", "content" => "IE=edge"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

  %meta{name: "keywords", content: "docker,linux containers,bioinformatics,genomics,assembly"}
  %meta{name: "author", content: "Michael Barton"}
  %meta{name: "description", content: "continuous, objective and reproducible evaluation of genome assemblers using docker containers"}

  // CSS
  %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}
  %link{:rel => "stylesheet", :href => "/stylesheets/all.css" }

  // Javascript
  %script{:src => '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'}
  %script{:src => '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'}
  %script{:src => '/javascripts/all.js'}

  // Atom feed
  %link{rel: "alternate", type: "application/atom+xml", title: "Updates", href: "/atom.xml"}
