%head
  %title
    = current_page.data.title
  %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}
  %script{:src => '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'}
  %script{:src => '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'}
  %script{:src => '/javascripts/jquery.tablesorter.js'}
  :javascript
    $(document).ready(function()
      {
        $("#score").tablesorter({
          sortList: [[2,0]],
          cssAsc: 'bg-primary',
          cssDesc: 'bg-primary'
        });
        $('#score').tooltip();
      }
    );
