%p
  :markdown
    **NG50**: The smallest contig length for which the sum of all contigs of
    greater or equal length is greater than half or greater the length of the
    reference genome.

    **LG50**: The number of contigs for which the sum of all contigs of greater
    or equal length is greater than half or greater the length of the reference
    genome.

    **UN**: The percentage of the genome unassembled. Computed from mapping
    back to the reference sequence.

    **IB**: Incorrect bases - The number of mismatches, ambiguous, insertions
    and deletions per 100,000 bp of the assembly.
