%ul{:class => "nav"}
  %li
    %a{:href => "/"}
      Home
  %li
    %a{:href => "/about/"}
      About
  %li
    %a{:href => "/contributing/"}
      Contributing
  %li
    %a{:href => "/image-api/"}
      Image API
