%ul{:class => "nav"}
  %li
    %a{:href => "/"}
      Home
  %li
    %a{:href => "/about/"}
      About
  %li
    %a{:href => "/image-api/"}
      Image API
  %li
    %a{:href => "/using-images/"}
      Using Images
  %li
    %a{:href => "/mailing-list/"}
      Mailing List
