.vote-award
  %img{src: "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7", class: logo}
  .title
    %p
      Best Assembler by
      = title
  .image
    %p
      %a{href: link_to_assembler(winning_image(vote_type)) }
        = winning_image vote_type
  .proc
    %p
      using procfile entry:
      = winning_proc vote_type
